<div id="<%= dom_id question %>">
  <p>
    <strong>Name:</strong>
    <%= question.name %>
  </p>

  <p>
    <strong>Tipo pergunta:</strong>
    <%= question.tipo_pergunta %>
  </p>

  <p>
    <strong>Formulary:</strong>
    <%= question.formulary_id %>
  </p>

</div>
